<div class="d-flex justify-content-center gap-2 my-4">
    <!-- Botón de Logout -->
    <button type="button" class="btn btn-warning" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
    </button>
    
    <!-- Botón de Mi Perfil -->
    <button type="button" class="btn btn-primary" (click)="irPerfil()">
        <i class="fas fa-user"></i> Mi perfil
    </button>
    
    <!-- Botón de Principal (Home Admin) -->
    <button type="button" class="btn btn-success" (click)="irHomeAdmin()">
        <i class="fas fa-home"></i> Principal
    </button>
</div>

