<app-logout></app-logout>
<div class="container mt-4">
    <h1 class="text-center mb-4">Bienvenido</h1>

    <!-- Botones estilizados con Bootstrap -->
    <div class="d-flex flex-wrap justify-content-center gap-3">
        <button type="button" class="btn btn-outline-primary btn-lg rounded-pill px-4 py-2" (click)="irNoticaAdmin()">Noticias</button>
        <button type="button" class="btn btn-outline-secondary btn-lg rounded-pill px-4 py-2" (click)="irCali()">Calificación</button>
        <button type="button" class="btn btn-outline-success btn-lg rounded-pill px-4 py-2" (click)="irPlatillo()">Platillo</button>
        <button type="button" class="btn btn-outline-warning btn-lg rounded-pill px-4 py-2" (click)="irIngrediente()">Ingrediente</button>
        <button type="button" class="btn btn-outline-info btn-lg rounded-pill px-4 py-2" (click)="irConsulta()">Consulta</button>
        <button type="button" class="btn btn-outline-info btn-lg rounded-pill px-4 py-2" (click)="irPedido()">Pedidos</button>

        
    </div>
</div>
