.platillo-card {
    margin: 10px;
    border-radius: 10px;
  }
  
  .platillo-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .cantidad-input {
    margin-top: 5px;
    max-width: 80px;
  }
  
  .boton-agregar {
    margin-top: 10px;
  }
  
  .resumen-pedido-card {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
  }
  